version: '3.9'

services:
  database:
    image: postgres:16-alpine
    container_name: database
    environment:
      POSTGRES_DB: nevis
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - nevis_data:/var/lib/postgresql/data

  application:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8080:8080"
    depends_on:
      - database

volumes:
  nevis_data:
